{% extends "_base.html" %}
{% block title %}
	{{ title }}
{% endblock %}
{% block addHeaders %}
	<style>
        div#wrap .container {
            width: 75%;
            min-width: 1000px;
        }

        .caps-title {
            text-transform: uppercase;
        }

        div#reporting_fields {
            display: inline-block;
        }

        div#single_field {
            float: left;
            margin: 5px 10px;
        }

        div#reporting_fields span.field-label {
            font-style: italic;
            margin-right: 0px;
        }

        div#reporting_fields table tr td {
            padding: 5px 0px 5px 10px;
        }

        div#submit_form {
            margin-top: 10px;
        }

        th.header-left, td.cell-left {
            text-align: left;
        }

        th.header-center, td.cell-center {
            text-align: center;
        }

        tr.bg-odd {
            background-color: #F5F5F5;
        }

        tr.bg-even {
            background-color: #FFFFFF;
        }

        a.call-details-link {
            cursor: pointer;
        }

        .modal {
            width: 700px;
            margin-left: -380px;
        }

        input[type="text"], select {
            width: 151px;
        }

        select {
            width: 165px;
        }

        span.reporting-title {
            margin-bottom: 0px;
            font-size: 18px;
            line-height: 40px;
        }
	</style>
    <link href="{{ url_for('reporting.static', filename='css/datepicker.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	
	<h3>{{ title }}</h3>

    <div id="report_form">
        <form method="POST" id="reporting_form" action="/reporting/" class="form-inline">
            {{ form.hidden_tag() }}
            <div id="reporting_fields">
                <span class="reporting-title">Select Report Criteria</span>
                <table>
                    {% for field in form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit') %}
                        {% if loop.index % 4 == 0 %}
                                <td>
                                    {% if field.name == 'Ddi' or field.name == 'Url' %}
                                        <span class="field-label">{{ field.label(class='caps-title') }}</span>
                                    {% elif field.id == 'date_time_start' or field.id == 'date_time_end' %}
                                        <span class="field-label">{{ field.label }}</span>
                                    {% else %}
                                         <span class="field-label">{{ field.label }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                            </tr>
                        {% elif loop.index % 4 == 1 %}
                            <tr>
                                <td>
                                    {% if field.name == 'Ddi' or field.name == 'Url' %}
                                        <span class="field-label">{{ field.label(class='caps-title') }}</span>
                                    {% elif field.id == 'date_time_start' or field.id == 'date_time_end' %}
                                        <span class="field-label">{{ field.label }}</span>
                                    {% else %}
                                         <span class="field-label">{{ field.label }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                        {% else %}
                            <td>
                                {% if field.name == 'Ddi' or field.name == 'Url' %}
                                    <span class="field-label">{{ field.label(class='caps-title') }}</span>
                                {% elif field.id == 'date_time_start' or field.id == 'date_time_end' %}
                                    <span class="field-label">{{ field.label }}</span>
                                {% else %}
                                     <span class="field-label">{{ field.label }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ field }}
                            </td>
                        {% endif %}
                        {% if loop.index % 4 != 0 and loop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div style="clear: both;"></div>
            <div id="submit_form">
                {% for field in form if (field.widget.input_type == 'submit') %}
                    {{ field(class="btn btn-info") }}
                {% endfor %}
            </div>
        </form>
    </div>

    <div id="reporting_results">
        &nbsp;
    </div>

    <div id="detail_modal" class="modal hide">
        <div id="edit_comment" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>API Call Details</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block jquery %}
    <script src="{{ url_for('reporting.static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-modal.js') }}"></script>

	<script>
        $('#submit').click(function() {
            $("#reporting_form").unbind('submit').bind('submit', function(event){
                var sending = {}
                var data = $('form').serialize()
                $.each(data.split('&'), function (index, elem) {
                    var vals = elem.split('=');
                    sending[vals[0].replace(/\+/g, ' ')] = vals[1].replace(/\+/g, ' ');
                });
                event.preventDefault();
                $.ajax({
                    url: "/reporting/generate",
                    type: "post",
                    data: JSON.stringify(sending),
                    contentType: "application/json",
                    success: function(data){
                        $('#reporting_results').html(data);
                    },
                    error: function(data){
                        $('#generated_messages').html('<div class="alert error-alert"><button type="button" class="close" data-dismiss="alert">&times;</button><p>There was an error generating the report...sad face :(</p></div>');
                    },
                });
            });
        });

        function toggle_modal(history_id) {
            $.ajax({
                url: "/reporting/generate/details/" + history_id,
                type: "get",
                contentType: "application/json",
                success: function(data){
                    $('.modal-body').html(data);
                    $('#detail_modal').modal()
                },
                error: function(data){
                    $('#generated_messages').html('<div class="alert error-alert"><button type="button" class="close" data-dismiss="alert">&times;</button><p>There was an error showing the details of the call...double sad face :( :(</p></div>');
                },
            });
        }

        $(function() {
            $( "#date_time_start" ).datepicker({
                autoclose: 'true',
                format: 'yyyy-mm-dd'
            });
            $( "#date_time_end" ).datepicker({
                autoclose: 'true',
                format: 'yyyy-mm-dd'
            });
        });
	</script>
{% endblock %}