{% extends "_base.html" %}
{% block title %}
	{{ title }}
{% endblock %}
{% block addHeaders %}
	<style>
        div#add_fields, div#manage_fields {
            float: right;
            margin: -40px 210px 0 0;
        }

        table tr td.global-label {
            font-weight: bold;
            padding-right: 20px;
        }

        div#report_settings {
            padding: 10px 0;
        }

        div#setup_form_felds {
            padding: 10px 0;
        }

	</style>
{% endblock %}
{% block body %}
	
	<h3>{{ title }}</h3>

    {% if manage %}
        <div id="add_fields">
            <a href="/reporting/fields/add" title="Add Fields" class="btn btn-primary">Add Fields</a>
            <a href="/reporting/setup" title="Reporting Setup" class="btn btn-info">Report Setup</a>
        </div>
    {% endif %}

    {% if report_settings %}
        <div id="manage_fields">
            <a href="/reporting/fields/manage" title="Manage Fields" class="btn btn-info">Manage Fields</a>
        </div>
    {% endif %}


    {% if form %}
        {% include '_form.html' %}
    {% endif %}

    {% if report_settings %}
        <div id="report_settings">
            <h4>Current Reporting Settings</h4>
            <table>
                <tr>
                    <td class="global-label">
                        Collection:
                    </td>
                    <td>
                        {{ report_settings.get('collection') }}
                    </td>
                </tr>
                <tr>
                    <td class="global-label">
                        Enabled:
                    </td>
                    <td>
                        {% if report_settings.get('enabled') %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="global-label">
                        Description:
                    </td>
                    <td>
                        {{ report_settings.get('description') }}
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if report_fields %}
        {% if report_fields.count() > 0 %}
            <div id="setup_form_felds">
                <h4>Setup Reporting Fields</h4>
                <table class="table" style="width: 80%;">
                    <tr>
                        <th>Name</th>
                        <th>Data Type</th>
                        <th>Searchable</th>
                        <th>Field Type</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for field in report_fields %}
                        <tr>
                            <td>
                                {{ field.get('field_name') }}
                            </td>
                            <td>
                                {{ field.get('data_type') }}
                            </td>
                            <td>
                                {{ field.get('searchable') }}
                            </td>
                            <td>
                                {{ field.get('field_display') }}
                            </td>
                            <td>
                                {{ field.get('description') }}
                            </td>
                            <td>
                                {% if field.get('searchable') %}
                                    <a href="/reporting/fields/action/{{ field.get('_id') }}/deactivate" title="Disable form field from report"><i class="icon-ban-circle"></i></a>
                                {% else %}
                                     <a href="/reporting/fields/action/{{ field.get('_id') }}/activate" title="Enable form field for report"><i class="icon-ok-circle"></i></a>
                                {% endif %}
                                <a href="/reporting/fields/edit/{{ field.get('_id') }}" title="Edit field setup"><i class="icon-pencil"></i></a>
                                <a href="/reporting/fields/remove/{{ field.get('_id') }}" title="Remove field setup"><i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
{% block jquery %}
{% endblock %}