{% extends "_base.html" %}
{% block title %} - Manage Verbs{% endblock %}
{% block addHeaders %}
{% endblock %}
{% block body %}
	<h1>
		Manage API Verbs
		<a class="btn btn-primary add-menu-button" data-toggle="modal" data-target="#add_verb">Add Verb</a>
	</h1>
    <h4>Current Verbs</h4>
    {% if api_settings %}
        {% if api_settings.get('verbs') %}
            <table class="table table-hover table-condensed" style="width: 600px;">
                <thead>
                    <tr>
                        <th style="text-align: left;">Verb</th>
                        <th class="center">Active</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for verb in api_settings.get('verbs') %}
                        <tr>
                            <td>
                                {{ verb.get('name') }}
                            </td>
                            <td class="center">
                                {% if verb.get('active') %}
                                    <span class="fa fa-check text-success"></span>
                                {% else %}
                                    <span class="fa fa-minus text-danger"></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if verb.get('active') %}
                                    <a href="/manage/verbs/deactivate/{{ verb.get('name') }}" class="tooltip-title" title="Deactivate API Verb"><span class="fa fa-ban"></span></a>
                                {% else %}
                                    <a href="/manage/verbs/activate/{{ verb.get('name') }}" class="tooltip-title" title="Activate API Verb"><span class="fa fa-check-circle-o"></span></a>
                                {% endif %}
                               <a href="/manage/verbs/delete/{{ verb.get('name') }}" class="tooltip-title" title="Delete API Verb"><span class="fa fa-trash-o"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>There are currently no API verbs setup in the system</p>
        {% endif %}
    {% else %}
        <p>There are currently no API verbs setup in the system</p>
    {% endif %}

	<div id="add_verb" class="modal fade" aria-labelledby="AddForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Add Verb</h4>
                </div>
                <div class="modal-body">
                    {%- set modal = True %}
                    {%- set form_id = 'add_verb_form' %}
                    {%- include 'generic/_form.html' %}
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="add_verb_submit" name="submit" type="submit" form="add_verb_form" value="Submit">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
            $('.tooltip-title').tooltip();
        });

		$('#add_verb_submit').click(function() {
            $("#add_verb_form").unbind('submit').bind('submit', function(e){
                return true;
            });
        });

		$('body').on('shown.bs.modal', '.modal', function () {
            $('#name').focus();
        });

		$('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData();
        });
    </script>
{% endblock %}
