html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#wrap > .container {
    padding-top: 60px;
}

div#wrap .navbar .navbar-inner .container {
    width: 95%;
    min-width: 1075px;
}

div.container {
    margin-left: 50px;
}

div#wrap .container {
    width: 75%;
    min-width: 1075px;
}

#push, #footer {
    height: 60px;
}

#footer {
    background-color: #f5f5f5;
}

div#inner_footer {
    width: 1075px;
    margin-left: 50px;
    padding-top: 22px;
    min-width: 1075px;
}

div#submit_feedback {
    float: right;
    margin-top: -5px;
}

div.alert, div.alert_gen {
    width: 575px;
}

div.error-alert, div.error_gen {
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

div.error-alert p, div.error_gen p {
    color: #B94A48;
}

div.alert p, div.alert_gen p {
    margin: 0;
}

div#field_choices_top, div#default_value_top {
    display: none;
}

div#current_fields {
    padding: 10px 0;
}

div#manage_buttons {
    float: right;
    margin-right: 50px;
}

.label {
    display: inline;
    padding: 0;
    text-shadow: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-shadow: none;
    background-color: #fff;
}

div#current_forms {
    padding: 10px 0;
}

div#custom_form_modal {
    display: none;
}

div#add_menu_button {
    float: right;
    margin-right: 135px;
}

.permissions-label {
    float: left;
    text-align: left;
}
#permissions_box {
    float: left;
    margin: 3px 5px 0 0;
}

#label_header {
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
}

#new_parent_top, #edit_new_parent_top {
    display: none;
}

div.up-down-arrows {
    display: inline;
}

div#child_order_menu, div#parent_order_menu {
    padding: 10px 0;
}

div#add_menu_button {
    float: right;
}
