html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 60px;
    margin-bottom: 60px;
}

a {
    cursor: pointer;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .footer-container {
    padding: 60px 15px 0;
}

.footer-container .text-muted {
    margin: 20px 0;
}

#footer > .footer-container {
    padding-right: 15px;
    padding-left: 15px;
}

/* Form helpers */

input[type=text],
input[type=password],
textarea.form-control,
select.form-control {
    width: 220px;
}

input[type=checkbox] {
    margin-top: 10px;
}

.has-feedback .form-control-feedback {
    width: 160px;
}

.alert-error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.alert-message {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.page-header {
    margin-top: 20px;
}

.permissions-label {
    font-weight: normal;
}

.table > thead > tr > th, .table > tbody > tr > td {
    vertical-align: middle;
}

.modal-dialog {
    margin-top: 70px;
}

.custom-modal-error {
    float: right;
    margin: -28px 80px 0 0;
}

/* Front page settings */

.jumbotron {
    border-radius: 6px;
}

.site-header {
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

p.lead {
    font-size: 25px;
}

div#issue_feedback {
    margin-bottom: 20px;
}
