/* Specific to general layout base_call.html */

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px;
}

div.navbar {
    min-width: 1075px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 60px;
}

div.row-fluid {
    margin-bottom: 210px;
}

div.row-fluid div.span3 {
    width: 14%;
}

div.row-fluid div.span9 {
    width: 83.5%;
}

#footer {
    background-color: #f5f5f5;
}

div#inner_footer {
    width: 95%;
    margin: 0 auto;
    padding: 16px 0 0 0;
}

div#submit_feedback {
    float: right;
}

p.muted {
    margin-bottom: 0;
    padding-top: 4px;
}

div.alert {
    width: 575px;
}

div.error-alert {
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

div.error-alert p {
    color: #B94A48;
}

div.alert p {
    margin: 0;
}

.sidebar-nav {
    margin: 220px 0 0 0;
    padding: 9px 0;
    min-width: 142px;
}

@media (max-width: 980px) {
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

a:hover {
  cursor: pointer;
}

input[type=text] {
    margin-right: 10px;
}

input[type=text].error {
    border-color: #B94A48;
}

div.bg-odd div#api_call_inner {
    border: none;
}

div#api_call_inner {
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    padding: 10px 18px;
    margin-bottom: 25px;
    display: inline-block;
    min-width: 840px;
    width: 97%;
}

div#basic_api_info {
    padding: 5px 0;
    margin: 5px 0;
}

span.ep-label, span.uri_label {
    font-weight: bold;
    padding-right: 15px;
}

table.parameters {
    margin-top: 10px;
}

div#api_description {
    padding: 5px 0;
    margin: 5px 0;
}

#data_center option {
    color: black;
}

.empty {
    color: gray;
}

.error {
    border-color: #B94A48;
}

table.table tr td {
    vertical-align: middle;
}

table.table tr td input[type=text] {
    margin-bottom: 0;
}

div#api_call_wrapper {
    padding: 20px;
    margin: 0 0 20px 0;
    min-width: 874px;
    width: 94%;
}

div.bg-odd {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
}

div.bg-even {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
}

div.bg-even div#api_call_inner {
    border: none;
}

.no-var-btn {
    margin: 10px 0 0 0;
}

div.code-block {
    font-family: Monaco;
    background-color: #e3e3e3;
    border: 1px solid #333;
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 10px;
}

pre {
    background-color: #e3e3e3;
    border: none;
    margin-bottom: 0;
    padding: 10px;
}

span.required {
    color: #B94A48;
    font-weight: bold;
}

td.required input[type=text], td.required select {
    border-color: #B94A48;
}

div#global_vars {
    height: 30px;
    padding: 5px 0;
    margin: 0 0 10px 0;
}

span.input-label {
    padding: 0 5px;
    font-size: 16px;
    font-style: italic;
    line-height: 29px;
    vertical-align: top;
}

.spinner {
    margin: 0;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 240px;
    height: 102px;
}

div.loading-div, div.loading-div-vars {
    float: left;
    margin: -46px 0 0 250px;
}

span.loading-text {
    padding-left: 10px;
}

div#global_call_wrapper {
    margin-top: 220px;
}

div#generated_messages {
    height: 36px;
    padding: 12px 0 0 0;
    margin-bottom: 5px;
}

div#static_div_header {
    margin: 40px 0px 0px 0px;
    position: fixed;
    background-color: #FFF;
    width: 100% !important;
    min-width: 915px;
}

div#static_div_header h3 {
    margin-top: 0px;
}

div.out-api {
    float: right;
    margin: -44px 0 0 0;
}

div.in-api {
    margin: 30px 0 -30px 0;
}

a.scrollup {
    background: url('/static/icon_gototop.png') no-repeat scroll 0 0 transparent;
    bottom: 80px;
    display: none;
    height: 40px;
    position: fixed;
    right: 15px;
    text-indent: -9999px;
    width: 40px;
}

span.error-response {
    color: #B94A48;
}

a.testing-button {
    margin: -11px 0 0 30px;
}
