<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{{ app_title }}{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/admin_base.css') }}" rel="stylesheet">
		{% block addHeaders %}{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="{{ url_for('index') }}">{{ app_title }}</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								{% set menu = get_menu %}
								{% for menu_item in menu %}
									{% if menu_item.get('parent') == '' %}
										<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>
									{% else %}
										{% if menu_item.get('parent') == menu[(loop.index - 2)].get('parent') %}
											<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>									
										{% else %}
											<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ get_parent_name(menu_item.get('parent')) }} <b class="caret"></b></a>
											<ul class="dropdown-menu">
												<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>
										{% endif %}
										{% if loop.last %}
												</ul>
											</li>
										{% elif menu_item.get('parent') != menu[loop.index].get('parent') %}
												</ul>
											</li>
										{% endif %}
									{% endif %}
								{% endfor %}
							</ul>
							<p class="navbar-text pull-right">
								{% if session.get('username') %}
									Logged in as {{ session.get('username') }} | <a class="logout" href="{{ url_for('adminblueprint.logout') }}">Log Out</a>
								{% else %}
									<a href="{{ url_for('adminblueprint.login') }}">Log In</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				{% with messages = get_flashed_messages(with_categories=True) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
								<button type="button" class="close" data-dismiss="alert">&times;</button>
								{{ message }}
							</div>
						{% endfor %}
					{% else %}
						<div id="generated_messages">&nbsp;</div>
					{% endif %}
				{% endwith %}
				{% block body %}{% endblock %}
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
			<div id="inner_footer">
				<p class="muted credit">{{ app_footer|safe }}</p>
			</div>
		</div>
		<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-dropdown.js') }}"></script>
		{% block jquery %}{% endblock %}
	</body>
</html>