<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>Edit Custom Form</h4>
</div>
<div class="modal-body">
    <form method="POST" action="/admin/forms/{{ form_id }}" class="form-horizontal" id="edit_form">
        {{ form.hidden_tag() }}
        {% for field in form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' ) %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}" id="edit_{{ field.name }}_top">
                {{ field.label(class="col-sm-3 control-label") }}
                <div class="col-xs-7">
                    {% if field.type == 'TextField' %}
                        {{ field(class="form-control", **{'type': 'text'})|safe }}
                    {% elif field.type == 'BooleanField' %}
                        {{ field(type="checkbox") }}
                    {% endif %}
                    <span class="edit_{{ field.name }}" style="display: none; color: #B94A48; float: right; margin: -28px 0 0 0;">Field Required</span>
                </div>
            </div>
        {% endfor %}
    </form>
</div>
<div class="modal-footer">
    <input class="btn btn-primary" id="edit_form_submit" name="submit" type="submit" form="edit_form" value="Submit">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>

<script>
    $('#edit_form_submit').on('click', function() {
        $("#edit_form").unbind('submit').bind('submit', function(e){
            var url = validate_field('edit_form #submission_url', 'edit_submission_url_top', 'edit_submission_url')
            var name = validate_field('edit_form #name', 'edit_name_top', 'edit_name')
            if ( url & name ) {
                return true;
            }
            else {
                return false;
            }
        });
    });
</script>
