<form method="POST" action="/admin/forms/fields/{{ form_id }}/{{ field_name }}" class="form-horizontal" id="fields_edit_form">
    {{ form.hidden_tag() }}
    {% for field in form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit') %}
        {% if field.name == 'field_choices' %}
            <div class="control-group{% if field.errors %} error{% endif %}" id="edit_{{ field.name }}_top" {% if show_field_type %}style="display: visible;"{% else %}style="display:none;"{% endif %}>
        {% elif field.name == 'default_value' %}
            <div class="control-group{% if field.errors %} error{% endif %}" id="edit_{{ field.name }}_top" {% if show_default_field %}style="display: visible;"{% else %}style="display:none;"{% endif %}>
        {% else %}
            <div class="control-group{% if field.errors %} error{% endif %}" id="edit_{{ field.name }}_top">
        {% endif %}
            {{ field.label(class="control-label") }}
            <div class="controls">
                {% if field.name == "field_type" %}
                    {{ field(class='field_type-top') }}
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.name == "field_choices" %}
                    <p style="font-size: 12px;" class="text-info"><strong>Note:</strong> Coma seperated list or one option per line<br />If no choices are given you will have to dynamically<br />insert them when called</p>
                {% endif %}
                <span class="edit_{{ field.name }}" style="display: none; color: #B94A48;">Field Required</span>
            </div>
        </div>
    {% endfor %}
</form>
