<h4>Current Fields</h4>
{% if fields %}
    <table class="table table-hover table-condensed" style="width: 97%;">
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Type</th>
            <th>Description</th>
            <th style="text-align: center;">Default Value</th>
            <th style="text-align: center;">Required</th>
            <th style="text-align: center;">Active</th>
            <th>Order</th>
            <th style="text-align: center;">Actions</th>
        </tr>
        {% for field in fields %}
            <tr>
                <td>
                    {{ field.get('name') }}
                </td>
                <td>
                    {{ field.get('label') }}
                </td>
                <td>
                    {{ field.get('field_type') }}
                </td>
                <td>
                    {% if field.get('description') %}
                        {{ field.get('description') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if field.get('default') %}
                        {{ field.get('default_value') }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if field.get('required') %}
                        <span class="fa fa-check"></span>
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if field.get('active') %}
                        <span class="fa fa-check-circle-o"></span>
                    {% else %}
                        <span class="fa fa-ban"></span>
                    {% endif %}
                </td>
                <td style="padding-left: 13px;">
                    {% if loop.first and fields|length > 1 %}
                        <a onClick="demote_form_element('{{ form_id }}','{{ field.get('name') }}')" class="tooltip-title" title="Demote Form Field"><span class="fa fa-arrow-down"></span></a>
                    {% elif loop.last and fields|length > 1 %}
                        <a onClick="promote_form_element('{{ form_id }}','{{ field.get('name') }}')" class="tooltip-title" title="Promote Form Field"><span class="fa fa-arrow-up"></span></a>
                    {% elif fields|length > 1 %}
                        <a onClick="promote_form_element('{{ form_id }}','{{ field.get('name') }}')" class="tooltip-title" title="Promote Form Field"><span class="fa fa-arrow-up"></span></a>
                        <a onClick="demote_form_element('{{ form_id }}','{{ field.get('name') }}')" class="tooltip-title" title="Demote Form Field"><span class="fa fa-arrow-down"></span></a>
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    <a href="/admin/forms/fields/{{ form_id }}/{{ field.get('name') }}" data-toggle="modal" data-target="#edit_custom_fields_form" class="tooltip-title" title="Edit Form Element"><span class="fa fa-pencil"></span></a>
                    {% if field.get('active') %}
                        <a href="/admin/forms/fields/deactivate/{{ form_id }}/{{ field.get('name') }}" class="tooltip-title" title="Disable Form Element"><span class="fa fa-ban"></span></a>
                    {% else %}
                        <a href="/admin/forms/fields/activate/{{ form_id }}/{{ field.get('name') }}" class="tooltip-title" title="Disable Form Element"><span class="fa fa-check-circle-o"></span></a>
                    {% endif %}
                    <a href="/admin/forms/fields/delete/{{ form_id }}/{{ field.get('name') }}" class="tooltip-title" title="Delete Form Element"><span class="fa fa-trash-o"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No fields have been created for this form</p>
{% endif %}
