<h4>Parent Menu Order</h4>
{% if top_level_menu %}
    <table class="table table-hover" id="top_level_sort" style="width: 400px;">
        <tr>
            <th>Name</th>
            <th style="text-align: center;">Order</th>
        </tr>
        {% for item in top_level_menu %}
            <tr>
                <td>
                    {{ item.get('name') }}
                </td>
                <td style="text-align: center;">
                    {% if loop.first %}
                        {% if loop.index < loop.length %}
                            <a id="{{ item.get('name') }}" onClick="demote_top_element('{{ item.get('name') }}')" title="Demote Menu Item" class="sort-down tooltip-title"><span class="fa fa-arrow-down"></span></a>
                        {% endif %}
                    {% elif loop.last %}
                        <a id="{{ item.get('name') }}" onClick="promote_top_element('{{ item.get('name') }}')" title="Promote Menu Item" class="sort-up tooltip-title"><span class="fa fa-arrow-up"></span></a>
                    {% else %}
                        <a id="{{ item.get('name') }}" onClick="promote_top_element('{{ item.get('name') }}')" title="Promote Menu Item" class="sort-up tooltip-title"><span class="fa fa-arrow-up"></span></a>
                        <a id="{{ item.get('name') }}" onClick="demote_top_element('{{ item.get('name') }}')" title="Demote Menu Item" class="sort-down tooltip-title"><span class="fa fa-arrow-down"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No Top Level Menu Items</p>
{% endif %}
