<h4>Menu Details</h4>
<table class="table table-hover" style="width: 90%;">
    <tr>
        <th>Name</th>
        <th>Display Name</th>
        <th>Parent</th>
        <th>URL</th>
        <th>Permissions</th>
        <th style="text-align: center;">Active</th>
        <th>Order</th>
        <th></th>
    </tr>
    {% for menu_item in menu_list %}
        <tr>
            <td>
                {{ menu_item.get('name') }}
            </td>
            <td>
                {{ menu_item.get('display_name') }} {% if menu_item.get('divider') %}<span class="tooltip-title fa fa-bars" title="Divider Added" style="cursor: default;"></span>{% endif %}
            </td>
            <td>
                {% if menu_item.get('parent') %}
                    {{ menu_item.get('parent') }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>
                {{ menu_item.get('url') }}
            </td>
            <td>
                {{ menu_item.get('view_permissions')|title }}
            </td>
            <td style="text-align: center;">
                {% if menu_item.get('active') %}
                    <span class="fa fa-check-circle-oe"></span>
                {% else %}
                    <span class="fa fa-ban"></span>
                {% endif %}
            </td>
            <td style="padding-left: 14px;">
                <div class="up-down-arrows">
                    {% if menu_item.get('parent') and menu_item.get('parent') != "" %}
                        {% if loop.first %}
                            {% if loop.index < loop.length %}
                                {% if (menu_item.get('parent') == menu_list[(loop.index)].get('parent')) %}
                                    <a id="{{ menu_item.get('name') }}" onClick="demote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Demote Menu Item"><span class="fa fa-arrow-down"></span></a>
                                {% endif %}
                            {% endif %}
                        {% elif loop.last %}
                            {% if (menu_item.get('parent') == menu_list[(loop.index - 2)].get('parent')) %}
                                <a id="{{ menu_item.get('name') }}" onClick="promote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Promote Menu Item"><span class="fa fa-arrow-up"></span></a>
                            {% endif %}
                        {% else %}
                            {% if (menu_item.get('parent') == menu_list[(loop.index - 2)].get('parent')) and (menu_item.get('parent') == menu_list[(loop.index)].get('parent')) %}
                                <a id="{{ menu_item.get('name') }}" onClick="promote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Promote Menu Item"><span class="fa fa-arrow-up"></span></a>
                                <a id="{{ menu_item.get('name') }}" onClick="demote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Demote Menu Item"><span class="fa fa-arrow-down"></span></a>
                            {% elif (menu_item.get('parent') == menu_list[(loop.index - 2)].get('parent')) and (menu_item.get('parent') != menu_list[(loop.index)].get('parent')) %}
                                <a id="{{ menu_item.get('name') }}" onClick="promote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Promote Menu Item"><span class="fa fa-arrow-up"></span></a>
                            {% elif (menu_item.get('parent') != menu_list[(loop.index - 2)].get('parent')) and (menu_item.get('parent') == menu_list[(loop.index)].get('parent')) %}
                                <a id="{{ menu_item.get('name') }}" onClick="demote_child_element('{{ menu_item.get('name') }}')" class="tooltip-title" title="Demote Menu Item"><span class="fa fa-arrow-down"></span></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            <td id="tooltip">
                <a href="/admin/settings/menu/{{ menu_item.get('name') }}" data-toggle="modal" class="tooltip-title" data-target="#edit_menu" title="Edit Menu Item"><span class="fa fa-pencil"></span></a>
                {% if menu_item.get('active') %}
                    <a href="/admin/settings/menu/toggle/disable/{{ menu_item.get('name') }}" class="tooltip-title" title="Disable Menu Item"><span class="fa fa-ban"></span></a>
                {% else %}
                    <a href="/admin/settings/menu/toggle/enable/{{ menu_item.get('name') }}" class="tooltip-title" title="Enable Menu Item"><span class="fa fa-check-circle-oe"></span></a>
                {% endif %}
                <a href="/admin/settings/menu/remove/{{ menu_item.get('name') }}" class="tooltip-title" title="Delete Menu Item"><span class="fa fa-trash-o"></span></a>
            </td>
        </tr>
    {% endfor %}
</table>
