{% extends "_base.html" %}
{% block title %} - Manage Menus{% endblock %}
{% block addHeaders %}
    <style>
        .add-menu-button {
            float: left;
            margin: -45px 0 0 500px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>Manage Application Menus</h1>
        <a class="btn btn-primary add-menu-button" data-toggle="modal" data-target="#menu_item_form">Add Menu Item</a>
    </div>
    <div id='child_order_menu'>
        {% include 'admin/_menu_children.html' %}
    </div>
    <div id='parent_order_menu'>
        {% include 'admin/_menu_parent.html' %}
    </div>

    <div id="menu_item_form" class="modal fade" aria-labelledby="AddForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Add Menu Item</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" class="form-horizontal" id="add_menu_item_form">
                        {{ menu_form.hidden_tag() }}
                        {% for field in menu_form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' ) %}
                            <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}" id="{{ field.name }}_top">
                                {{ field.label(class="col-sm-3 control-label") }}
                                <div class="col-xs-7">
                                    {% if field.type == 'TextField' or field.type == 'TextAreaField'  %}
                                        {{ field(class="form-control", **{'type': 'text'})|safe }}
                                    {% elif field.type == 'BooleanField' %}
                                        {{ field(type="checkbox") }}
                                    {% elif field.type == 'SelectField' %}
                                        {{ field(class="form-control") }}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                    <span class="form-control-feedback {{ field.name }}" style="display: none; color: #B94A48; float: right; margin: -28px 0 0 0;">Field Required</span>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="add_menu_item_submit" name="submit" type="submit" form="add_menu_item_form" value="Submit">
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="edit_menu" class="modal fade" aria-labelledby="AddForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Edit Menu Item</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
            $('.tooltip-title').tooltip();
            if ($('#parent_menu').val() != 'Add New Parent') {
                $('body #new_parent_top').hide();
            }
        });

        function data_tooltip() {
            $('body').tooltip({
                selector: '.tooltip-title'
            });
        }

        function validate_field(field_name, error, span) {
            if ( $.trim($('#' + field_name).val()) != '' & $('#' + field_name).val().length != 0) {
                $('#' + error).removeClass('has-error');
                $('span.' + span).hide();
                return true;
            }
            else {
                $('#' + error).addClass('has-error');
                $('span.' + span).show();
                return false;
            }
        }

        function replace_html(url_path, div_id, response_message) {
            var message = '<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><p>' + response_message + '</p></div';
            $.get(url_path, function(result) {
                $(div_id).html(result);
                $('#generated_messages').html(message);
            });
        }

        function promote_top_element(name) {
            var data = {};
            data['name'] = name;
            $.ajax({
                url: "/admin/settings/menu/top_level/promote",
                type: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(data){
                    replace_html('/admin/settings/menu/top_level/html', '#parent_order_menu', data.message);
                    data_tooltip();
                },
                error: function(data) {
                    console.log('There was an error processing the request')
                }
            });
        }

        function demote_top_element(name) {
            var data = {};
            data['name'] = name;
            $.ajax({
                url: "/admin/settings/menu/top_level/demote",
                type: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(data){
                    replace_html('/admin/settings/menu/top_level/html', '#parent_order_menu', data.message);
                    data_tooltip();
                },
                error: function(data) {
                    console.log('There was an error processing the request')
                }
            });
        }

        function promote_child_element(name) {
            var data = {};
            data['name'] = name;
            $.ajax({
                url: "/admin/settings/menu/promote",
                type: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(data){
                    replace_html('/admin/settings/menu/child/html', '#child_order_menu', data.message);
                    data_tooltip();
                },
                error: function(data) {
                    console.log('There was an error processing the request')
                }
            });
        }

        function demote_child_element(name) {
            var data = {};
            data['name'] = name;
            $.ajax({
                url: "/admin/settings/menu/demote",
                type: "post",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function(data){
                    replace_html('/admin/settings/menu/child/html', '#child_order_menu', data.message);
                    data_tooltip();
                },
                error: function(data) {
                    console.log('There was an error processing the request')
                }
            });
        }

        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData();
        });

        $('#add_menu_item_submit').click(function() {
            $("#add_menu_item_form").unbind('submit').bind('submit', function(e){
                var url = validate_field('menu_item_url', 'menu_item_url_top', 'menu_item_url');
                var name = validate_field('menu_display_name', 'menu_display_name_top', 'menu_display_name')
                if ( url & name ) {
                    return true;
                }
                else {
                    return false;
                }
            });
        });

        $('body').on('change', '#parent_menu', function() {
            var selectVal = $(this).val();
            if (selectVal == 'Add New Parent') {
                $('body #new_parent_top').show();
            } else { $('body #new_parent_top').hide(); }
        });
    </script>

{% endblock %}
