{% extends "_base.html" %}
{% block title %} - Manage Roles{% endblock %}
{% block addHeaders %}
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>Application Roles & Permissions</h1>
    </div>
    <h4>Add Role</h4>
    <form method="POST" action="" class="form-horizontal">
        {{ form.hidden_tag() }}
        {% for field in form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit' ) %}
            <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}" id="{{ field.name }}_top">
                {{ field.label(class="col-sm-1 control-label") }}
                <div class="col-xs-3">
                    {% if field.type == 'TextField' %}
                        {{ field(class="form-control", **{'type': 'text'})|safe }}
                    {% elif field.type == 'BooleanField' %}
                        {{ field(type="checkbox") }}
                    {% endif %}
                    {% for error in field.errors %}
                        <span class="form-control-feedback">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-1 col-xs-2">
                {% for field in form if (field.widget.input_type == 'submit') %}
                    {{ field(class="btn btn-primary") }}
                {% endfor %}
            </div>
        </div>
    </form>
    <h5>Current Roles</h5>
    {% if roles %}
        <table class="table table-hover table-condensed" style="width: 800px;">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th></th>
            </tr>
            {% for role in roles %}
                <tr>
                    <td>
                        {{ role.get('display_name') }}
                    </td>
                    <td style="padding-left: 20px;">
                        {% if role.get('active') %}
                            <span class="fa fa-check-circle-o"></span>
                        {% else %}
                            <span class="fa fa-ban"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if role.get('name') != 'administrators' %}
                            <a href="/admin/settings/permissions/{{ role.get('name') }}" class="tooltip-title" title="Edit Permissions"><span class="fa fa-pencil"></span></a>
                        {% else %}
                            &nbsp;&nbsp;&nbsp;
                        {% endif %}
                        {% if role.get('active') %}
                            <a href="/admin/settings/roles/toggle/disable/{{ role.get('name') }}" class="tooltip-title" title="Disable Role"><span class="fa fa-ban"></span></a>
                        {% else %}
                            <a href="/admin/settings/roles/toggle/enable/{{ role.get('name') }}" class="tooltip-title" title="Enable Role"><span class="fa fa-check-circle-o"></span></a>
                        {% endif %}
                        <a href="/admin/settings/roles/remove/{{ role.get('name') }}" class="tooltip-title" title="Remove Role"><span class="fa fa-trash-o"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no Roles setup on the system</p>
    {% endif %}
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
            $('.tooltip-title').tooltip();
        });
    </script>
{% endblock %}
