{% extends "_base.html" %}
{% block title %} - {{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        .form-horizontal .control-label {
            width: 75px;
        }

        .form-horizontal .controls {
            margin-left: 100px;
        }
    </style>
{% endblock %}
{% block body %}
	
	<h3>{{ title }}</h3>
    <h4>Setup API Verb</h4>
    {% include '_form.html' %}

    <h4>API Verbs</h4>
    {% if api_settings %}
        {% if api_settings.get('verbs') %}
            <table style="width: 40%">
                <tr>
                    <th style="text-align: left;">Verb</th>
                    <th style="text-align: center;">Active</th>
                    <th></th>
                </tr>
                {% for verb in api_settings.get('verbs') %}
                    <tr>
                        <td style="text-align: left;">
                            {{ verb.get('name') }}
                        </td>
                        <td style="text-align: center;">
                            {% if verb.get('active') %}Yes{% else %}No{% endif %}
                        </td>
                        <td>
                            {% if verb.get('active') %}
                                <a href="/manage/verbs/deactivate/{{ verb.get('name') }}" title="Deactivate API Verb"><i class="icon-ban-circle"></i></a>
                            {% else %}
                                <a href="/manage/verbs/activate/{{ verb.get('name') }}" title="Deactivate API Verb"><i class="icon-ok-circle"></i></a>
                            {% endif %}
                           <a href="/manage/verbs/delete/{{ verb.get('name') }}" title="Delete API Verb"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are currently no API verbs setup in the system</p>
        {% endif %}
    {% else %}
        <p>There are currently no API verbs setup in the system</p>
    {% endif %}

{% endblock %}
{% block jquery %}

{% endblock %}