{% extends "_base.html" %}
{% block title %} - {{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        .form-horizontal .control-label {
            width: 75px;
        }

        .form-horizontal .controls {
            margin-left: 100px;
        }
    </style>
{% endblock %}
{% block body %}
	
	<h3>{{ title }}</h3>
    <h4>Setup Data Centers</h4>
    {% include '_form.html' %}

    <h4>Current Data Centers</h4>
    {% if api_settings %}
        {% if api_settings.get('dcs') %}
            <table style="width: 40%">
                <tr>
                    <th style="text-align: left;">Name</th>
                    <th style="text-align: center;">Abbreviation</th>
                    <th></th>
                </tr>
                {% for dc in api_settings.get('dcs') %}
                    <tr>
                        <td style="text-align: left;">
                            {{ dc.get('name') }}
                        </td>
                        <td style="text-align: center;">
                            {{ dc.get('abbreviation') }}
                        </td>
                        <td>
                           <a href="/manage/dcs/delete/{{ dc.get('name') }}" title="Delete DC"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are currently no DCs setup in the system</p>
        {% endif %}
    {% else %}
        <p>There are currently no DCs setup in the system</p>
    {% endif %}

{% endblock %}
{% block jquery %}

{% endblock %}