{% extends "_base.html" %}
{% block title %} - {{ title }}{% endblock %}
{% block addHeaders %}

{% endblock %}
{% block body %}
	
	<h4>{{ title }}</h4>
	<form method="POST" action="" class="form-horizontal"> <!-- enctype="multipart/form-data"> -->
        {{ form.hidden_tag() }}
        {% for field in form if (field.widget.input_type != 'hidden' and field.widget.input_type != 'submit') %}
            <div class="control-group{% if field.errors %} error{% endif %}">
                {{ field.label(class="control-label") }}
                <div class="controls">
                    {% if field.widget.input_type == 'password' %}
                        {{ field(placeholder=placeholder) }}
                    {% else %}
                        {{ field(placeholder="SSO") }}
                    {% endif %}
                    {% if error %}
                        {% for error in field.errors %}
                            <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                {% for field in form if (field.widget.input_type == 'submit') %}
                    {{ field(class="btn") }}
                {% endfor %}
            </div>
        </div>
    </form>

{% endblock %}
{% block jquery %}

{% endblock %}