<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<title>{{ app_title }}{% block title %}{% endblock %}</title>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
			<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
			<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
			{% block addHeaders %}{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('index') }}">{{ app_title }}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% set menu = get_menu %}
						{% for menu_item in menu %}
							{% if menu_item.get('parent') == '' %}
								<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>
							{% else %}
								{% if menu_item.get('parent') == menu[(loop.index - 2)].get('parent') %}
									<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>
									{% if menu_item.get('divider') %}
										<li class="divider"></li>
									{% endif %}
								{% else %}
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ get_parent_name(menu_item.get('parent')) }} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="{{ menu_item.get('url') }}">{{ menu_item.get('display_name') }}</a></li>
								{% endif %}
								{% if loop.last %}
										</ul>
									</li>
								{% elif menu_item.get('parent') != menu[loop.index].get('parent') %}
										</ul>
									</li>
								{% endif %}
							{% endif %}
						{% endfor %}
					</ul>
					<p class="navbar-text pull-right">
						{% if session.get('username') %}
							Logged in as {{ session.get('name') }} | <a class="logout" href="{{ url_for('adminblueprint.logout') }}">Log Out</a>
						{% else %}
							<a href="{{ url_for('adminblueprint.login') }}">Log In</a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			{% with messages = get_flashed_messages(with_categories=True) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							<strong>{{ category|title }}!</strong> {{ message }}
						</div>
					{% endfor %}
				{% else %}
					<div id="generated_messages">&nbsp;</div>
				{% endif %}
			{% endwith %}
			{% block body %}{% endblock %}
		</div>
		<div id="push"></div>
		<div id="footer">
			<div class="footer-container">
				<p class="text-muted">{{ app_footer|safe }}</p>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		{% block jquery %}{% endblock %}
	</body>
</html>
