{% for api_call in calls %}
    {%- set call_fixed_title = api_call.get('title')|lower|slug %}
    {%- if not api_call.get('product-db_name') %}
        {% set prod_fixed_title = title|lower|slug %}
    {% else %}
        {% set prod_fixed_title = api_call.get('product-db_name') %}
    {% endif -%}
    {%- if api_settings is not defined %}
        {%- set api_settings = get_product_for_call(api_call.get('product')) %}
    {% endif -%}
    <div class="call-wrapper">
        <div class="row anchor" id="{{ call_fixed_title }}-{{ prod_fixed_title }}" target="{{ slugify(call_fixed_title) }}">
            <div class="col-md-1 call-links">
                {%- if api_call.get('product-db_name') %}
                    <a class="prod-popover" data-toggle="popover" data-placement="bottom" data-content="{{ request.url_root }}{{ api_call.get('product-db_name') }}/#{{ call_fixed_title }}-{{ prod_fixed_title }}"><span class="fa fa-link tooltip-title" data-placement="top" title="Direct Link"></span></a>
                {% else %}
                    <a class="prod-popover" data-toggle="popover" data-placement="bottom" data-content="{{ request.url_root }}{% if api_call.get('app_link') %}{{ api_call.get('app_link')|remove_slash }}{% else %}{{ api_settings.app_url|remove_slash }}{% endif %}/#{{ call_fixed_title }}-{{ prod_fixed_title }}"><span class="fa fa-link tooltip-title" data-placement="top" title="Direct Link"></span></a>
                {% endif -%}
                <a href="" data-toggle="modal" data-target="#submit_feedback" data-product="{%- if not api_call.get('product-db_name') %}{{ api_settings.db_name }}{% else %}{{ prod_fixed_title }}{% endif -%}" data-call_id="{{ api_call.get('_id') }}" class="tooltip-title" title="Call Feedback"><span class="fa fa-comment-o"></span></a>
                {%- if session.get('username') %}
                    {%- if api_call.get('_id')|string in favorites %}
                        <a href="#" class="favorite toggle-favorite" data-url="{% if api_settings.app_url %}{{ api_settings.app_url|remove_slash }}{% else %}{{ api_call.get('product-app_url')|remove_slash }}{% endif %}" data-id="{{ api_call.get('_id') }}" data-product="{%- if not api_call.get('product-db_name') %}{{ api_settings.db_name }}{% else %}{{ prod_fixed_title }}{% endif -%}" data-action="remove"><span class="fa fa-star chosen"></span></a>
                    {% else %}
                        <a href="#" class="favorite toggle-favorite" data-url="{% if api_settings.app_url %}{{ api_settings.app_url|remove_slash }}{% else %}{{ api_call.get('product-app_url')|remove_slash }}{% endif %}" data-id="{{ api_call.get('_id') }}" data-product="{%- if not api_call.get('product-db_name') %}{{ api_settings.db_name }}{% else %}{{ prod_fixed_title }}{% endif -%}" data-action="add"><span class="fa fa-star"></span></a>
                    {% endif -%}
                {% endif -%}
            </div>
            <div class="col-md-4">
                <span class="call-title">
                    {{ api_call.get('title') }}{% if api_call.get('product-db_name') %} - <span class="text-muted">{{ unslug(api_call.get('product-db_name'))|title }}</span>{% endif %}
                </span>
            </div>
            <div class="col-md-1 right">
                {%- if api_call.get('verb')|lower in ['post', 'put'] %}
                    <button type="button" class="btn btn-success btn-sm api-verb toggle-element-{{ loop.index }}" data-title="{{ call_fixed_title }}-{{ prod_fixed_title }}" data-loop="{{ loop.index }}" id="toggle_details_verb">{{ api_call.get('verb') }}</button>
                {% elif api_call.get('verb')|lower == 'delete' %}
                    <button type="button" class="btn btn-danger btn-sm api-verb toggle-element-{{ loop.index }}" data-title="{{ call_fixed_title }}-{{ prod_fixed_title }}" data-loop="{{ loop.index }}" id="toggle_details_verb">{{ api_call.get('verb') }}</button>
                {% else %}
                    <button type="button" class="btn btn-info btn-sm api-verb toggle-element-{{ loop.index }}" data-title="{{ call_fixed_title }}-{{ prod_fixed_title }}" data-loop="{{ loop.index }}" id="toggle_details_verb">{{ api_call.get('verb') }}</button>
                {% endif -%}
            </div>
            <div class="col-md-4 call-uri">
                {% if api_call.get('endpoint') %}
                    {{ api_call.get('api_uri') }}
                {% else %}
                    {{ api_call.get('api_uri') }}
                {% endif %}
            </div>
            <div class="col-md-1" id="details_btn">
                <button data-title="{{ call_fixed_title }}-{{ prod_fixed_title }}" data-loop="{{ loop.index }}" id="toggle_details" class="toggle-element-{{ loop.index }} btn btn-primary details-btn">Details</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 call-links">&nbsp;</div>
            <div class="col-md-11">
                <div id="api_call_inner" class="{{ call_fixed_title }}-{{ prod_fixed_title }}" style="display: none;">
                    <div class="additional-call-info">
                        <p class="call-description">{{ api_call.get('short_description')|nl2br|tab2spaces|safe }}</p>
                        {% if api_call.get('doc_url') %}
                            <a href="{{ api_call.get('doc_url') }}" target="_blank">View Documentation</a>
                        {% endif %}
                        {% if api_call.get('verb')|lower in ['post', 'put', 'delete'] %}
                            <div class="panel panel-danger destructive-warning">
                                <div class="panel-heading">
                                    <strong>Warning!</strong> This action can be destructive or can result in additional charges to the account.
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <form class="{{ call_fixed_title }}-{{ prod_fixed_title }}_form" action="" id="{{ call_fixed_title }}-{{ prod_fixed_title }}_form" method="POST">
                        <input id="api_url" name="api_url" type="hidden" value="{{ api_call.get('api_uri') }}">
                        <input id="api_verb" name="api_verb" type="hidden" value="{{ api_call.get('verb') }}">
                        <input id="api_id" name="api_id" type="hidden" value="{{ api_call.get('_id') }}">
                        <input id="app_url_link" name="app_url_link" type="hidden" value="{{ api_call.get('product-app_url') }}">
                        <input id="api_endpoint" name="api_endpoint" type="hidden" value="{{ api_call.get('endpoint') }}">
                        <input id="remove_token" name="remove_token" type="hidden" value="{{ api_call.get('remove_token') }}">
                        <input id="remove_ddi" name="remove_ddi" type="hidden" value="{{ api_call.get('remove_ddi') }}">
                        {% if api_call.get('variables') or api_call.get('allow_filter') %}
                            <table class="table">
                                <tr>
                                    <th>Parameter</th>
                                    <th></th>
                                    <th>Type</th>
                                    <th style="text-align: center;">Required</th>
                                    <th>Description</th>
                                </tr>
                                {% for var in api_call.get('variables') %}
                                    <tr>
                                        <td>
                                            {{ var.get('variable_name') }}
                                        </td>
                                        <td{% if var.get('required') %} class="text-danger"{% endif %}>
                                            {% if var.get('field_display') == 'TextField' %}
                                                <input id="{{ var.get('variable_name') }}" name="{{ var.get('variable_name') }}" type="text" placeholder="{{ var.get('variable_name')|unslug|title }}">
                                            {% elif var.get('field_display') == 'SelectField' %}
                                                <select id="{{ var.get('variable_name') }}" name="{{ var.get('variable_name') }}">
                                                    {% for var in parse_field_data(var.get('field_display_data')) %}
                                                        <option value="{{ var }}">{{ var }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ var.get('field_type') }}
                                        </td>
                                        <td style="text-align: center;">
                                            {% if var.get('required') %}
                                                <span class="text-danger">Yes</span>
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ var.get('description') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% if api_call.get('allow_filter') %}
                                    <tr>
                                        <td>
                                            Filter
                                        </td>
                                        <td>
                                            <input id="add_filter" name="add_filter" type="text" placeholder="Filter Parameters">
                                        </td>
                                        <td>
                                            text
                                        </td>
                                        <td style="text-align: center;">
                                            No
                                        </td>
                                        <td>
                                            Filter parameters i.e. limit=100. For multiple parameters separate using an &amp; i.e. limit=100&amp;marker=100
                                        </td>
                                    </tr>
                                {% endif %}
                            </table>
                            <p style="font-size: 12px;"><span class="text-danger">*</span> Required for API Call</p>
                        {% endif %}
                        {% if session.get('username') %}
                            <input name="{{ call_fixed_title }}-{{ prod_fixed_title }}" class="api_call_submit btn btn-warning" type="submit" value="Send API Call">
                        {% endif %}
                        <input name="{{ call_fixed_title }}-{{ prod_fixed_title }}" class="api_call_submit btn btn-info" type="submit" value="Mock API Call">
                    </form>
                    <div id="loading_div_{{ call_fixed_title }}-{{ prod_fixed_title }}" class="loading-div" style="display: none;">
                        Executing Call&nbsp;<span class="fa fa-spin fa-spinner text-info"></span>
                    </div>
                    <div id="api_results_wrapper_{{ call_fixed_title }}-{{ prod_fixed_title }}" class="code-blocks-wrapper" style="display: none">
                        <div id="api_uri">
                            <h5>Request URL</h5>
                            <div class="code-block" id="api_url_{{ call_fixed_title }}-{{ prod_fixed_title }}">
                                URL Here
                            </div>
                        </div>
                        <div id="api_headers">
                            <h5>Request Headers</h5>
                            <div class="code-block" id="api_headers_{{ call_fixed_title }}-{{ prod_fixed_title }}">
                                Request Headers Here
                            </div>
                        </div>
                        <div id="api_body_wrapper_{{ call_fixed_title }}-{{ prod_fixed_title }}" style="display: none;">
                            <h5>Request Data Object</h5>
                            <div class="code-block" id="api_body_{{ call_fixed_title }}-{{ prod_fixed_title }}">
                                Data Object if any
                            </div>
                        </div>
                        <div id="api_response_headers" class="response-headers-{{ call_fixed_title }}-{{ prod_fixed_title }}">
                            <h5>Response Headers</h5>
                            <div class="code-block" id="api_response_headers_{{ call_fixed_title }}-{{ prod_fixed_title }}">
                                Response Code
                                Request ID
                            </div>
                        </div>
                        <div id="api_response_body" class="response-body-{{ call_fixed_title }}-{{ prod_fixed_title }}">
                            <h5>Response Body</h5>
                            <div class="code-block" id="api_content_{{ call_fixed_title }}-{{ prod_fixed_title }}">
                                Body Here
                            </div>
                        </div>
                        <div id="show_hide" class="in-api">
                            <button data-title="{{ call_fixed_title }}-{{ prod_fixed_title }}" data-loop="{{ loop.index }}" data-results="true" id="toggle_results" class="toggle-element-{{ loop.index }} btn btn-primary">Hide Results</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor -%}
