<h3 class="header-group">Available Products</h3>
<div class="row">
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/servers.png') }}" class="product-image" />
            <a href="/servers" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Servers</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/servers.png') }}" class="product-image" />
            <a href="/fg_servers" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">First Gen Servers</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/images.png') }}" class="product-image" />
            <a href="/images" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Images</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/load-balancers.png') }}" class="product-image" />
            <a href="/load_balancers" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Load Balancers</span>
            </a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/dns.png') }}" class="product-image" />
            <a href="/dns" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">DNS</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/rackconnect.png') }}" class="product-image" />
            <a href="/rackconnect" class="product-link">
                <span class="product-name-top">Rackspace</span>
                <span class="product-name-bottom">Rack Connect</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/networks.png') }}" class="product-image" />
            <a href="/networks" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Networks</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/cdn.png') }}" class="product-image" />
            <a href="/cdn" class="product-link">
                <span class="product-name-top">Rackspace</span>
                <span class="product-name-bottom">CDN</span>
            </a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/block-storage.png') }}" class="product-image" />
            <a href="/cbs" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Block Storage</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/databases.png') }}" class="product-image" />
            <a href="/databases" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Databases</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/big-data.png') }}" class="product-image" />
            <a href="/big_data" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Big Data</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/monitoring.png') }}" class="product-image" />
            <a href="/monitoring" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Monitoring</span>
            </a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/orchestration.png') }}" class="product-image" />
            <a href="/orchestration" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Orchestration</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/queues.png') }}" class="product-image" />
            <a href="/queues" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Queues</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/backup.png') }}" class="product-image" />
            <a href="/backups" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Backup</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/auto-scale.png') }}" class="product-image" />
            <a href="/autoscale" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Auto Scale</span>
            </a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/metrics.png') }}" class="product-image" />
            <a href="/cloud_metrics" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Metrics</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/identity.png') }}" class="product-image" />
            <a href="/identity" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Identity</span>
            </a>
        </h3>
    </div>
    <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{{ url_for('static', filename='images/products/cloudfeeds.png') }}" class="product-image" />
            <a href="/cloud_feeds" class="product-link">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Feeds</span>
            </a>
        </h3>
    </div>
    <!-- <div class="col-md-3 product-display">
        <h3 class="product-name">
            <img src="{# url_for('static', filename='images/products/servers.png') #}" class="product-image" />
            <a href="/#">
                <span class="product-name-top">Cloud</span>
                <span class="product-name-bottom">Keep</span>
            </a>
        </h3>
    </div> -->
</div>
