{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        div#history_item {
            border: 1px solid #E3E3E3;
            border-radius: 4px 4px 4px 4px;
            padding: 10px 18px;
            margin-bottom: 25px;
            display: inline-block;
            width: 100%;
        }

        div#basic_api_info {
            padding: 5px 0;
            margin: 5px 0;
        }

        div#show_details {
            float: right;
            margin: -46px 100px 0 0;
        }

        .well {
            background-color: #FFF;
        }
    </style>
    <link href="{{ url_for('static', filename='css/ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <div class="well">
                {% if active_products %}
                    <ul class="nav nav-pills nav-stacked left-nav">
                        <li class="navbar-header">Cloud Products</li>
                        {% for product in active_products %}
                            {% set setting = api_settings.get(product) %}
                            <li>
                                <a href="{{ setting.get('app_url') }}" title="{{ setting.get('title') }}">{{ setting.get('title') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <h3>API Call History</h3>
            <div id="history_wrapper">
                {% for item in history %}
                    <div id="history_item">
                        <div id="basic_api_info">
                            <dl class="dl-horizontal">
                                <dt>DDI:</dt>
                                <dd>
                                    {{ item.get('ddi') }}
                                </dd>
                                </tr>
                                <dt>Timestamp:</dt>
                                <dd>
                                    {{ item.get('completed_at').strftime('%m-%d-%Y @ %H:%M %p UTC') }}
                                </dd>
                                </tr>
                                <dt>Cloud Product:</dt>
                                <dd>
                                    {{ item.get('product') }}
                                </dd>
                                </tr>
                                <dt>Title:</dt>
                                <dd>
                                    {{ item.get('details').get('title') }}
                                </dd>
                                </tr>
                                <dt>Description:</dt>
                                <dd>
                                    {{ item.get('details').get('description') }}
                                </dd>
                                </tr>
                                <dt>Verb:</dt>
                                <dd>
                                    {{ item.get('request').get('verb') }}
                                </dd>
                                </tr>
                                <dt>Response Code:</dt>
                                <dd>
                                    {{ item.get('response').get('code') }}
                                </dd>
                                </tr>
                                <dt>Documentation:</dt>
                                <dd>
                                    <a href="{{ item.get('details').get('doc_url') }}" class="tooltip-title" title="{{ item.get('details').get('title') }} Documentation" target="_blank">API Documentation</a>
                                </dd>
                            </dl>
                        </div>
                        <div id="show_details">
                            <a onclick="toggle_div('details_wrapper_{{ loop.index }}', {{ loop.index }})" title="Show all details for request" class="btn btn-info toggle-element-{{ loop.index }}">Call Details</a>
                        </div>
                        <div id="details_wrapper_{{ loop.index }}" style="display: none;">
                            <div id="request_details">
                                {% if item.get('request') %}
                                    {% if item.get('request').get('url') %}
                                        <div id="api_uri">
                                            <h5>Request URL</h5>
                                            <div class="code-block">
                                                {{ item.get('request').get('url') }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('request').get('headers') %}
                                        <div id="api_headers">
                                            <h5>Request Headers</h5>
                                            <div class="code-block">
                                                <pre>{{ item.get('request').get('headers')|pretty_print_json }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('request').get('data') %}
                                        <h5>Request Data Object</h5>
                                        <div class="code-block">
                                            <pre>{{ item.get('request').get('data')|pretty_print_json }}</pre>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="response_details">
                                {% if item.get('response') %}
                                    {% if item.get('response').get('headers') %}
                                        <div id="api_response_headers">
                                            <h5>Response Headers</h5>
                                            <div class="code-block">
                                                <pre>{{ item.get('response').get('headers')|pretty_print_json }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('response').get('body') %}
                                        <div id="api_response_body">
                                            <h5>Response Body</h5>
                                            <div class="code-block">
                                                <pre>{{ item.get('response').get('body')|pretty_print_json }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="scrollup tooltip-title" title="Scroll to Top">Scroll</a>
{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function() {
            $('.tooltip-title').tooltip();
            $(window).scroll(function(){
                if ( $(this).scrollTop() > 100 ) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });
        })

        $('.scrollup').click(function(){
            $('html, body').animate({ scrollTop: 0 }, 600);
            return false;
        });

        function toggle_div(div_id, index) {
            $('#' + div_id).toggle('slow', function() {
                if ( $('#' + div_id).is(':hidden') ) {
                    $('.toggle-element-' + index).html('Call Details');
                }
                else {
                    $('.toggle-element-' + index).html('Hide Details');
                }
            });
        }
    </script>
{% endblock %}
