{% extends "_fluid_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        div#history_item {
            border: 1px solid #E3E3E3;
            border-radius: 4px 4px 4px 4px;
            padding: 10px 18px;
            margin-bottom: 25px;
            display: inline-block;
            width: 1000px;
        }

        div#basic_api_info {
            padding: 5px 0;
            margin: 5px 0;
        }

        div#basic_api_info table tr td {
            padding-left: 0;
        }

        span.ep-label {
            font-weight: bold;
            padding-right: 15px;
        }

        div.code-block {
            font-family: Monaco;
            background-color: #e3e3e3;
            border: 1px solid #333;
            border-radius: 4px 4px 4px 4px;
            display: block;
            font-size: 13px;
            line-height: 20px;
            margin: 0 0 10px;
            padding: 10px;
        }

        pre {
            background-color: #e3e3e3;
            border: none;
            margin-bottom: 0;
            padding: 10px;
        }

        div#show_details {
            float: right;
            margin: -46px 0px 0 0;
        }
    </style>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                {% if active_products %}
                    <ul class="nav nav-list">
                        <li class="nav-header">Cloud Products</li>
                        {% for product in active_products %}
                            {% set setting = api_settings.get(product) %}
                            <li>
                                <a href="{{ setting.get('app_url') }}" title="{{ setting.get('title') }}">{{ setting.get('title') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="span9">
            <h3>My API History</h3>
            <div id="history_wrapper">
                {% for item in history %}
                    <div id="history_item" class="{{ loop.cycle('bg-odd', 'bg-even') }}">
                        <div id="basic_api_info">
                            <table>
                                <tr>
                                    <td>
                                        <span class="ep-label">DDI:</span>
                                    </td>
                                    <td>
                                        {{ item.get('ddi') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Timestamp:</span>
                                    </td>
                                    <td>
                                        {{ item.get('completed_at').strftime('%m-%d-%Y @ %H:%M %p UTC') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Cloud Product:</span>
                                    </td>
                                    <td>
                                        {{ item.get('product') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Title:</span>
                                    </td>
                                    <td>
                                        {{ item.get('details').get('title') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Description:</span>
                                    </td>
                                    <td>
                                        {{ item.get('details').get('description') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Verb:</span>
                                    </td>
                                    <td>
                                        {{ item.get('request').get('verb') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Response Code:</span>
                                    </td>
                                    <td>
                                        {{ item.get('response').get('code') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="ep-label">Documentation:</span>
                                    </td>
                                    <td>
                                        <a href="{{ item.get('details').get('doc_url') }}" title="{{ item.get('details').get('title') }} Documentation" target="_blank">API Documentation</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div id="show_details">
                            <a onclick="toggle_div('details_wrapper_{{ loop.index }}', {{ loop.index }})" title="Show all details for request" class="btn btn-info toggle-element-{{ loop.index }}">Show All Details</a>
                        </div>
                        <div id="details_wrapper_{{ loop.index }}" style="display: none;">
                            <div id="request_details">
                                {% if item.get('request') %}
                                    {% if item.get('request').get('url') %}
                                        <div id="api_uri">
                                            <h5>Request URL</h5>
                                            <div class="code-block">
                                                {{ item.get('request').get('url') }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('request').get('headers') %}
                                        <div id="api_headers">
                                            <h5>Request Headers</h5>
                                            <div class="code-block">
                                                <pre>{{ to_json(item.get('request').get('headers')) }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('request').get('data') %}
                                        <h5>Request Data Object</h5>
                                        <div class="code-block">
                                            <pre>{{ to_json(item.get('request').get('data')) }}</pre>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="response_details">
                                {% if item.get('response') %}
                                    {% if item.get('response').get('headers') %}
                                        <div id="api_response_headers">
                                            <h5>Response Headers</h5>
                                            <div class="code-block">
                                                <pre>{{ to_json(item.get('response').get('headers')) }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if item.get('response').get('body') %}
                                        <div id="api_response_body">
                                            <h5>Response Body</h5>
                                            <div class="code-block">
                                                <pre>{{ to_json(item.get('response').get('body')) }}</pre>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        function toggle_div(div_id, index) {
            $('#' + div_id).toggle('slow', function() {
                if ( $('#' + div_id).is(':hidden') ) {
                    $('.toggle-element-' + index).html('Show All Details');
                }
                else {
                    $('.toggle-element-' + index).html('Hide All Details');
                }
            });
        }
    </script>
{% endblock %}