{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block addHeaders %}
    <link href="{{ url_for('static', filename='css/ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/pygments.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,700,900,600italic' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="front-header">
                <h1 class="site-header">{{ app_title }}</h1>
                {{ app_well|safe }}
                {%- if not session.get('username') %}
                    <p class="login-button"><button class="btn btn-primary login-check" title="Login to Application">Login to Application</button></p>
                {% endif -%}
            </div>
            {% if session.get('username') %}
                <h3 class="header-group">Favorite Calls</h3>
                <div id="generated_messages_product">&nbsp;</div>
                <div id="global_vars">
                    {% if api_calls %}
                    <input id="ddi" name="ddi" type="hidden" value="{{ session.get('ddi') }}"></input>
                    <input id="token" name="token" type="hidden" value="{{ session.get('token') }}"></input>
                        <label class="region-label">Region:</label>
                        <select id="region" name="region">
                            <option value="none" selected="selected">Select Region</option>
                            {% for option in regions %}
                                <option value="{{ option.get('abbreviation')|lower }}">{{ option.get('abbreviation') }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="front-calls-offset">
                    {% if api_calls %}
                        {%- set calls = api_calls %}
                        {%- include '_call_layout.html' %}
                    {% else %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <strong>Attention!</strong> You have not marked any calls as favorites. Once you do they will show up here.
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="rs-products">
                    {%- include '_products.html' %}
                </div>
                {%- include '_feedback.html' %}
            {% endif %}
            {%- if not session.get('username') %}
                <div class="rs-products">
                    {%- include '_products.html' %}
                </div>
            {% endif -%}
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script>
        var global_count = 0;
        var require_region = 'true';
        var restrict_regions = '{{ restrict_regions|lower }}';
        var testing = 'false';
        $(document).ready(function() {
            $("#region").change();
            $('.prod-popover').popover();
            $('.tooltip-title').tooltip();
            setup_toggle_details();
            setup_api_call_submit();
            toggle_results();
        });

        $('#search_api').keydown(function(e) {
            if (e.keyCode === 13) {
                $('.search-button').click();
                return false;
            }
        });

        $('.search-button').on('click', function() {
            var sending = {'search_string': $('#search_api').val()};
            $.ajax({
                url: '/search',
                type: 'POST',
                data: JSON.stringify(sending),
                contentType: "application/json",
                success: function(data){
                    $('#api_call_items').html(data);
                    setup_toggle_details();
                    setup_api_call_submit();
                    toggle_results();
                    $('.prod-popover').popover();
                    $('.tooltip-title').tooltip();
                },
                error: function(data) {
                    $('#api_call_items').html('<strong>There was an error with the request</strong>');
                }
            });
        });
    </script>
{% endblock %}
