{% extends "_base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block addHeaders %}
    <link href="{{ url_for('static', filename='css/ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-2">
            <div class="well">
                {% if active_products %}
                    <ul class="nav nav-pills nav-stacked left-nav">
                        <li class="navbar-header">Cloud Products</li>
                        {% for product in active_products %}
                            {% set setting = api_settings.get(product) %}
                            <li>
                                <a href="{{ setting.get('app_url') }}" title="{{ setting.get('title') }}">{{ setting.get('title') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10">
            <div class="jumbotron">
                <h1 class="site-header">{{ app_title }}</h1>
                {{ app_well|safe }}
                {% if not session.get('username') %}
                    <p><a href="/admin/login" title="Login to Application" class="btn btn-primary">Login to Application</a></p>
                {% endif %}
            </div>
            <h3>Search for API Call</h3>
            <p>
                <input type="text" placeholder="Search Title and Description" id="search_api" name="search_api" class="search-input">
                <button class="btn btn-info search-button" title="Search API Calls">Search</button>
            </p>
            {% if session.get('username') %}
                <h3>Most Accessed Calls</h3>
                <div id="global_vars">
                    <input id="ddi" name="ddi" type="hidden" value="{{ session.get('ddi') }}"></input>
                    <label class="region-dc-label">Data Center:</label>
                    <select id="data_center" name="data_center">
                        <option value="none" selected="selected">Select Data Center</option>
                        {% for option in data_centers %}
                            <option value="{{ option.get('abbreviation')|lower }}">{{ option.get('abbreviation') }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <input id="ddi" name="ddi" type="hidden" value="None"></input>
                <input id="data_center" name="data_center" type="hidden" value="None"></input>
            {% endif %}
            <div id="api_call_items">
                {% if most_accessed is string %}
                    <p>{{ most_accessed }}</p>
                {% else %}
                    {% set call_loop = most_accessed %}
                    {% include '_api_call_template.html' %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block jquery %}
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script>
        var global_count = 0;
        var require_dc = 'true';
        var restrict_dcs = '{{ restrict_dcs|lower }}';
        var testing = 'false';
        $(document).ready(function() {
            $("#data_center").change();
            $('.prod-popover').popover();
            setup_toggle_details();
            setup_api_call_submit();
        });

        $('.search-button').on('click', function() {
            var sending = {'search_string': $('#search_api').val()};
            $.ajax({
                url: '/search',
                type: 'POST',
                data: JSON.stringify(sending),
                contentType: "application/json",
                success: function(data){
                    $('#api_call_items').html(data);
                    setup_toggle_details();
                    setup_api_call_submit();
                },
                error: function(data) {
                    $('#api_call_items').html('<strong>There was an error with the request</strong>');
                }
            });
        });
    </script>
{% endblock %}
