{% extends "_base.html" %}
{% block title %} - {{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        .form-horizontal .control-label {
            width: 120px;
        }

        .form-horizontal .controls {
            margin-left: 140px;
        }

        input[type=text] {
            width: 525px;
        }

        td.key-label {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block body %}
	<h3>{{ title }}</h3>
    <h4>Globals</h4>
    {% include '_form.html' %}
    {% if product_settings %}
        <h4>Current Settings</h4>
        <table class="table" style="width: 70%">
            <tr>
                <td class='key-label'>
                    Title
                </td>
                <td>
                    {{ product_settings.get('title') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    App. URL
                </td>
                <td>
                    {{ product_settings.get('app_url') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    US API Endpoint
                </td>
                <td>
                    {{ product_settings.get('us_api') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    UK API Endpoint
                </td>
                <td>
                    {{ product_settings.get('uk_api') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    Documentation URL
                </td>
                <td>
                    {{ product_settings.get('doc_url') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    Require DC
                </td>
                <td>
                    {{ product_settings.get('require_dc') }}
                </td>
            </tr>
            <tr>
                <td class='key-label'>
                    Active
                </td>
                <td>
                    {{ product_settings.get('active') }}
                </td>
            </tr>
        </table>
    {% endif %}
{% endblock %}
{% block jquery %}
{% endblock %}
