{% extends "_fluid_base.html" %}
{% block title %} - {{ title }}{% endblock %}
{% block addHeaders %}
    <style>
        div#add_api_call {
            float: right;
            margin: 0 0 10px 0;
        }

        span.required {
            color: #B94A48;
            font-weight: bold;
        }

        table.table tr td {
            vertical-align: top;
        }
    </style>
{% endblock %}
{% block body %}
	<h3>{{ title }}</h3>
    <div id="add_api_call">
        <a href="{{ product_url }}/add" title="Add API Call" class="btn btn-primary">Add API Call</a>
    </div>
    <h4>Setup API Calls</h4>
    {% if api_commands.count() > 0 %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Verb</th>
                <th>URI</th>
                <th>Variables</th>
                <th style="text-align: center;">Tested</th>
                <th></th>
            </tr>
            {% for api in api_commands %}
                <tr class="{{ loop.cycle('bg-odd', 'bg-even') }}">
                    <td>
                        {{ api.get('title') }}
                    </td>
                    <td>
                        {{ api.get('verb') }}
                    </td>
                    <td>
                        {{ api.get('api_uri') }}
                    </td>
                    <td>
                        {% if api.get('variables') %}
                            {% for var in api.get('variables') %}
                                {% if var.get('required') %}<span class="required">{{ var.get('variable_name') }}</span>{% else %}{{ var.get('variable_name') }}{% endif %}<br />
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if api.tested %}
                            <i class="icon-ok-circle"></i>
                        {% else %}
                            <i class="icon-ban-circle"></i>
                        {% endif %}
                    </td>
                    <td style="width: 50px;">
                        {% if api.tested %}
                            <a href="{{ product_url }}/test/unconfirm/{{ api.get('_id') }}" class="tooltip_show" title="Mark as Untested"><i class="icon-ban-circle"></i></a>
                        {% else %}
                            <a href="{{ product_url }}/test/confirm/{{ api.get('_id') }}" class="tooltip_show" title="Mark as Tested"><i class="icon-ok-circle"></i></a>
                        {% endif %}
                        <a href="{{ product_url }}/edit/{{ api.get('_id') }}" class="tooltip_show" title="Edit API Call"><i class="icon-pencil"></i></a>
                        <a href="{{ product_url }}/delete/{{ api.get('_id') }}" class="tooltip_show" title="Delete API Call"><i class="icon-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no setup API commands for this product currently</p>
    {% endif %}
{% endblock %}
{% block jquery %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script>
        $(function () {
            $('.tooltip_show').tooltip();
        });
    </script>
{% endblock %}