{% extends "_base.html" %}
{% block title %} - Setup Application Reporting{% endblock %}
{% block addHeaders %}
	<style>
        div#report_settings {
            padding: 10px 0;
        }

        div#setup_form_felds {
            padding: 10px 0;
        }

		.col-sm-2 {
			width: 150px;
		}
	</style>
{% endblock %}
{% block body %}
	<h1>
		{{ title }}
		{% if manage %}
			<a href="/engine/fields/add" title="Add Fields" class="btn btn-primary">Add Fields</a>
			<a href="/engine/setup" title="Reporting Setup" class="btn btn-info">Report Setup</a>
		{% elif report_settings %}
			<a href="/engine/fields/manage" title="Manage Fields" class="btn btn-info">Manage Fields</a>
		{% endif %}
	</h1>

    {% if form %}
        {% include 'engine/_form.html' %}
    {% endif %}

    {% if report_settings %}
        <div id="report_settings">
            <h4>Current Reporting Settings</h4>
            <dl class="dl-horizontal">
				<dt>Collection:</dt>
				<dd>
					{{ report_settings.get('collection') }}
				</dd>
                <dt>Enabled:</dt>
				<dd>
					{% if report_settings.get('enabled') %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
				</dd>
				<dt>Allow Team:</dt>
				<dd>
					{% if report_settings.get('allow_team') %}
						Yes
					{% else %}
						No
					{% endif %}
				</dd>
                <dt>Description:</dt>
				<dd>
					{{ report_settings.get('description') }}
                </dd>
			</dl>
        </div>
    {% endif %}

    {% if report_fields %}
        <div id="setup_form_felds">
            <h4>Setup Reporting Fields</h4>
            {% if report_fields.count() > 0 %}
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Data Type</th>
                        <th style="text-align: center;">Searchable</th>
                        <th style="text-align: center;">Graphable</th>
                        <th>Field Type</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    {% for field in report_fields %}
                        <tr>
                            <td>
                                {{ field.get('field_name') }}
                            </td>
                            <td>
                                {{ field.get('data_type') }}
                            </td>
                            <td style="text-align: center;">
                                {{ field.get('searchable') }}
                            </td>
                            <td style="text-align: center;">
                                {{ field.get('graphable') }}
                            </td>
                            <td>
                                {{ field.get('field_display') }}
                            </td>
                            <td>
                                {{ field.get('description') }}
                            </td>
                            <td>
                                {% if field.get('searchable') %}
                                    <a href="/engine/fields/action/{{ field.get('_id') }}/deactivate" title="Disable form field from report"><i class="fa fa-ban"></i></a>
                                {% else %}
                                     <a href="/engine/fields/action/{{ field.get('_id') }}/activate" title="Enable form field for report"><i class="fa fa-check-circle-o"></i></a>
                                {% endif %}
                                <a href="/engine/fields/edit/{{ field.get('_id') }}" title="Edit field setup"><i class="fa fa-pencil"></i></a>
                                <a href="/engine/fields/remove/{{ field.get('_id') }}" title="Remove field setup"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No fields are setup for the report currently</p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
{% block jquery %}
{% endblock %}
